section{
  min-height: 100vh;
}
#hero_section{
  background-image: url('/public/images/studio.jpg');
  background-size: cover;
}

.overlay{
  background-color: #00000069;
  min-height: 100vh;
}

/* Navigation Bar  */
.main_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  color: #ffffff;
  background-color: #00000091;
}

.nav_brand{
  margin-left: 2em;
}

.nav_links_div{
  width: 50%;
}

.nav_links_div ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav_menu_div{
  margin-right: 1em;
}

.nav_menu_div img{
  width: 2em;
}

.mobileNavMenu{
  min-height: 30vh;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  padding-top: 1em;
  padding-bottom: 1em;
  top: -200vh;
  transition: all 100ms ease-in-out;
}

.mobileNavMenuVisible{
  top: 5em;
}

.mobileNavMenu ul{
  list-style: none;
  text-align: center;
}

.mobileNavMenu ul li{
  margin-top: 1em;
  font-size: 1.25em;
}

/* Hero Section  */

.hero_txt{
  padding: 5em;
  color: #ffffff;
}

.hero_txt h2{
  font-size: 4rem;
}

.hero_txt p{
  width: 50%;
  font-size: 1.25rem;
}

/* Services */
#services_section{
  padding: 1em;
}
.services_div{
  padding: 2em;
  background-color: #53A548;
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service{
  height: 25rem;
  width: 20rem;
  background-color: #ffffff;
  position: relative;
  bottom: -5em;
}

.services_overlay{
  background-color: #000000a8;
  width: 100%;
  height: 100%;
}

.studios_div{
  background-image: url('/public/images/recording.jpg');
  background-size: cover;
}

.mastering_div{
  background-image: url('/public/images/mastering.jpg');
  background-size: cover;
}

.post_prod_div{
  background-image: url('/public/images/prod.jpg');
  background-size: cover;
}


/* Tablets */
@media only screen and (max-width: 768px){
  #services_section{
    min-height: 100vh;
  }

  .services_div{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2em;
    justify-content: center;
    align-items: center;
  }

  .service{
    position: initial;
    bottom: 0;
    width: 100%;
  }
}

/* Mobile  */
@media only screen and (max-width: 425px){
  #services_section{
    padding: 1em;
  }

  .services_div{
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .service{
    height: 25em;
  }
}